@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  ::-webkit-scrollbar {
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 6px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: "Inter", sans-serif;
    color: #333333;
  }

  /* 
    regular -400
    medium - 500
    semi-bold - 600
    bold - 700
  */

  h1 {
    font-weight: 700;
    font-size: 4.25rem;
    line-height: 4.8rem;
  }

  h2 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.25rem;
  }

  h3 {
    font-weight: 700;
    font-size: 3em;
  }

  h4 {
    font-weight: 00;
    font-size: 2.625rem;
  }

  h5 {
    font-weight: 700;
    font-size: 2rem;
  }

  h6 {
    font-weight: 600;
    font-size: 1.5rem;
  }

  p {
    font-weight: 400;
    font-size: 1rem;
  }
/* UTILITY CLASSES */
.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  width: 97%;
}

.full-height {
  flex: 1;
}

@media screen and (min-width: 1200px) {
  .main-wrapper {
    width: 90%;
  }
}

.full-width {
  width: 100vw;
}
    .shadow {
      box-shadow: 0px 0px 26px 0px #0000001A;
    }
}